// identify all the major colours, typography, etc that are used over and over page-break-inside: 


// FONTS
$TitleFont: 'Passion One', sans-serif;
$BodyFont: 'Roboto', sans-serif;


// FONT WEIGHTS
$light: 100;
$normal: 400;
$bold: 900;


// COLOURS

$dark: #383234;
$accent: #7ac5c0;